node_modules
dist
.env
data/*.json
*.log
*.tmp
stripe.env.txt
public/products/*.gif
public/products/*.jpg
public/products/*.jpeg
public/products/*.png
public/products/*.webp
!public/products/banner.png
!public/products/Workhorse.gmbh.png
!public/products/banner.webp
!public/products/Workhorse.gmbh.webp
public/products/drawings/*
!public/products/drawings/full/
!public/products/drawings/full/**
!public/products/drawings/thumbs/
!public/products/drawings/thumbs/**
